extends templates/template.pug

//-para sobreescribir las variables del config 
append config
    -pagetitle='contacto'
    -description='Estamos juntos en todos'
    -currentPage='contacto'
    -iframe=false
    

//-para las hojas de estilos css individual
append  styles  

append title
//-para añadir los script individual
append  scripts
    
