extends templates/template.pug


//-para sobreescribir las variables del config
append config
    -pagetitle='Nosotros'
    //-description='Somos mas que vencedores'
    -currentPage='nosotros'
    -article=true

//-para las hojas de estilos css individual
append  styles

append title



//-para añadir los script individual
append  scripts
    