extends templates/template.pug

//-para sobreescribir las variables del config
append config
    -pagetitle='Portafolio'
    //-description='Junto venceremos'
    -currentPage='portafolio'

//-para las hojas de estilos css individual
append  styles

append title

    



//-para añadir los script individual
append  scripts
    
