div
    h2 Para mas informacion
    a(href="#") siguenos en facebook
        br
    a(href="#") siguenos en instagram
        br
    a(href="#") siguenos en youtube
        br
p creativos ABC Todos los derechos reservados home