header.main-header
            a(href="index.html") 
                img(src="/img/logo.svg", alt="Lorem ipsum").logos
            nav.menu
                +linksMenu
                
                